<%= render "devise/shared/error_messages", resource: resource %>

<div class="form-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },data: { turbo: false }) do |f| %>
  <div class="form-card form-card-large">
      <h2 class="card-form-title">Edit <%= resource_name.to_s.humanize %></h2>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"card-form-input",
      placeholder: "Email" %>

      <%= f.text_field :username, autofocus: true, class:"card-form-input",
      placeholder: "Username" %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="text-form">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :password, autocomplete: "new-password", class:"card-form-input",
      placeholder: "Password" %>
      <% if @minimum_password_length %>
        <br />
        <em class="text-form"><%= @minimum_password_length %> characters minimum</em>
      <% end %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"card-form-input",
      placeholder: "Confirm Password" %>


      <%= f.label :current_password, class:"text-form" %> <i class="text-form">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"card-form-input",
      placeholder: "Current Password" %>

      <%= f.submit "Update", class:'card-form-button' %>
  <% end %>
    <%= button_to "Cancel my account", registration_path(resource_name),
    data: { turbo: false }, method: :delete, class:'card-form-button', style:'margin: 10px 0 10px 0' %>
    <%= link_to "Back", :back, class:'link-form-devise' %>
  </div>

</div>