<%= render "devise/shared/error_messages", resource: resource %> 
<div class="registration-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),data: {turbo: false}) do |f| %>
    <div class="registration-form">
      <h1 class="registration-form-titulo">Registrarse</h1>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"registration-form-input",
      placeholder: "Email" %>

      <%= f.text_field :username, autofocus: true, class:"registration-form-input",
      placeholder: "Username" %>

      <%= f.password_field :password, autocomplete: "new-password", class:"registration-form-input",
      placeholder: "Password" %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"registration-form-input",
      placeholder: "Confirm Password" %>


      <%= f.submit "Registrarse", class:"registration-form-button" %>

      <%= render "devise/shared/links" %> 
    </div>
  <% end %>
</div>
