<%- if controller_name != 'sessions' %>
  <%= link_to "Iniciar Sesion", new_session_path(resource_name), class:"link-form-devise link-devise-mt" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registrarse", new_registration_path(resource_name), class:"link-form-devise link-devise-mt" %><br />
<% end %>