<%= form_with(model: link, data: {turbo: false}, url: link_path(link), method: :get) do |form| %>
    <%= form.text_field :ip, class:"input",placeholder: "IP Address", value: params[:link].present? ? params[:link][:ip] : ''%>

    <%= form.label :start_date %>
    <%= form.date_field :start_date , class:"input", value: params[:link].present? ? params[:link][:start_date] : ''%>

    <%= form.label :end_date %>
    <%= form.date_field :end_date, class:"input", value: params[:link].present? ? params[:link][:end_date] : ''%>

    <%= form.submit 'Filter', class:"button" %>
    
    <%= link_to "Clear Filters", link_path, class: "button reset-button", data: { turbo: false } %>
<% end %>