<tr class="table-row">
  <td class="table-data" data-label="IP"><%= statistic.ip%></td>
  <td class="table-data" data-label="Date"><%= statistic.clicked_date.strftime("%d/%m/%Y")%></td>
  <td class="table-data" data-label="Hour"><%= statistic.clicked_date.strftime("%H:%M:%S")%></td>
</tr>
