  <div class="stats-row">
    <%= render partial: "statistics/filter_form", locals: { link: link } %>
  </div>
<div class="container">
  <div class="totals-stats">
    <h3 class="show-link-h3">Total access: <%= @clicks[:total]%></h3>
    <h3 class="show-link-h3">Avarage access since creation: <%= @clicks[:since_creation]%></h3>
    <% if @clicks[:total_between_dates].present?%>
      <h3 class="show-link-h3">
        Total from <%=params[:link][:start_date]%> to <%=params[:link][:end_date]%> : <%= @clicks[:total_between_dates]%>
      </h3>
    <% end %>
  </div>
  <table class="table-class">
    <thead class="table-thead">
      <th class="table-head">IP</th>
      <th class="table-head">Date</th>
      <th class="table-head">Hour</th>
    </thead>
    <tbody class="table-body">
      <%= render partial: "statistics/statistic", collection: statistics %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
</div>