<footer>
  <p>Developer: Galati Gianlucas - <a href="https://gitlab.com/GianlucasG/ttps_rails" class="footer-link">Gitlab</a></p>
  <p>&copy; <%= Time.now.year %> Chqto. All rights reserved - v6.0</p>
</footer>
