<nav class="navbar">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Sign In', new_session_path(:user) unless user_signed_in? %></li>
    <%if current_user && user_signed_in?%>
      <li><%= link_to 'My Links', links_path %></li>
      <li><%= link_to "Edit User", edit_user_registration_path%></li>
      <li><%= link_to 'Logout', destroy_user_session_path, data:{turbo_method: :delete}%></li>
    <%end%>
  </ul>
</nav>