<div class="home">
  <h1 class="text-home home-h1">¡Welcome to Chqto!</h1>
  <h2 class="text-home home-h2">This page was developed for the Ruby TTPS 2023 at UNLP</h2>
  <p class="text-home home-p">Its main functionality is to create shortened links that can be public, private, ephemeral, and temporary</p>
</div>