<tr class="table-row">
  <td class="table-data" data-label="Name"><%= link.name%></td>
  <td class="table-data" data-label="Go to Link"><%= button_to link_name(link.name), chqto_link_path(link.slug), method: :get, data: {turbo: false}, class:'button'%></td>
  <td class="table-data" data-label="Link"><%= get_url(link.slug)%></td>
  <td class="table-data" data-label="Type"><%= link.link_type%></td>
   <td class="table-data" data-label="Active"><%= link.active%></td>
  <td class="table-data" data-label="See Stats">
    <%= link_to 'See',link_path(link) %>
  </td>
  <td class="table-data" data-label="Edit"><%= link_to 'Edit link', edit_link_path(link) %></td>
  <td class="table-data" data-label="Delete">
    <%= button_to 'Delete Link',link_path(link), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },method: :delete, class:'button' %>
  </td>
</tr>
