<div class="form-container">
  <%= form_with(data: {turbo: false}, url: chtqo_private_link_path(@link), method: :post) do |form| %>
  <div class="form-card form-card-small">
    <%= form.text_field :password, class:"card-form-input",
    placeholder: "Contraseña" %>

    <%= form.submit 'Aceptar', class:"card-form-button" %>
  </div>
  <% end %>
</div>