<div class="container">
<div class="new-link-position">
  <h1>Your Links</h1>
  <div>
    <%= button_to 'New Link', new_link_path, method: :get, class:"button" %>
  </div>
</div>

<table class="table-class">
  <thead class="table-thead">
    <th class="table-head">Name</th>
    <th class="table-head">Go to Link</th>
    <th class="table-head">Link</th>
    <th class="table-head">Type</th>
    <th class="table-head">Active</th>
    <th class="table-head">See Stats</th>
    <th class="table-head">Edit</th>
    <th class="table-head">Delete</th>
  </thead>
  <tbody class="table-body">
    <%= render partial: "link", collection: @links %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>

</div>