<div class="form-container">
  <%= form_with(model: @link,data: {turbo: false}) do |form| %>
    <div class="form-card form-card-large" data-controller="link-type-inputs">
      <h1 class="card-form-title ">New Link</h1>

      <%= form.text_field :name, class:"card-form-input",
      placeholder: "Name" %>

      <%= form.text_field :url, class:"card-form-input",
      placeholder: "Url" %>


      <%= form.label :link_type, class:"text-form" %>
      <%= form.select :link_type, Link.link_types.keys.map { |type| [type.humanize, type] },
      {}, class: "card-form-input", data: {action: 'change->link-type-inputs#onChange'}%>

      <%= form.text_field :password, class:"card-form-input display-none",
      placeholder: "Password", data: { link_type_inputs_target: 'password_input' } %>

      
      <%= form.label :expiration, class:"text-form display-none", data: {link_type_inputs_target: 'date_label'} %>
      <%= form.date_field :expiration, class: "card-form-input display-none", data: {link_type_inputs_target: 'date_input'} %>


      <%= form.submit 'Create Link', class:"card-form-button card-form-button-margin" %>

    </div>
  <% end %>
</div>
