<%= render "devise/shared/error_messages", resource: resource %> 
<div class="session-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: {turbo: false}) do |f| %>
    <div class="session-form">
      <h1 class="session-form-titulo">Iniciar Sesion</h1>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"session-form-input", 
      placeholder: "Email", required: true%>

      
      <%= f.password_field :password, autocomplete: "current-password", class:"session-form-input", 
      placeholder: "Password",minlength: 8, required: true%>


      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:'remeber-me' %>
        </div>
      <% end %>


      <%= f.submit "Log in", class:"session-form-button" %>

      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>