/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0; 
  padding:0;
  border:0;
}

body {
  height: 100vh;
  background-color: #f2f2f2;
}

.new-link-position {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 2.5rem 0.9375rem 2.5rem
}

.link-form-devise {
  text-decoration: none;
  color: #f2f2f2;

}

.link-form-devise:hover {
  color: #C2B9B0;
}

.link-devise-mt{
  margin-top: 1.875rem;
}

.input {
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 0 0.9375rem;
  background: #C2B9B0;
  outline: none;
  border: 0.125rem solid #C2B9B0;
  width: 20rem;
  margin: 0.9375rem;
}

.input:focus {
  border: 0.125rem solid #333;
}

.button {
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 0 0.9375rem;
  width: 9.375rem;
  background-color: #333;
  border: none;
  color: #f2f2f2;
}

.button:hover {
  background-color: rgb(179, 179, 179);
  color: #333;
  cursor: pointer;
}

.display-none {
  display: none;
}

.show-link-h3{
  align-self: center;
}

.stats-row {
  display: flex;
  justify-content: center;
  margin: 1.875rem 2.5rem 0.9375rem 2.5rem
}

.totals-stats{
  display: flex;
  justify-content: center;
  margin: 1.875rem 2.5rem 0.9375rem 2.5rem;
  flex-direction: column;
}

.container {
  height: 100vh;
}

.reset-button {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;

}