.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #242424;
}
.error-h1 {
  font-size: 3rem;
  margin-bottom: 0.625rem;
  color: white;
}

.error-p {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  color: white;
}