.notice, .warning, .success {
  position: absolute;
  top: 3.1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.625rem;
  width: fit-content;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

.notice {
  color: black;
  background-color: white;
  border: 5px solid black;
}
.warning{
  color: red;
  background-color: white;
  border: 5px solid red;

}
.success{
  color: green;
  background-color: white;
  border: 5px solid green;
}
