footer {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.footer-link {
  text-decoration: none; 
  color: #f2f2f2;
}

.footer-link:hover {
  text-decoration: underline;
  color: #C2B9B0
}
