.form-container {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  background-color: #333;
  box-shadow: 0rem 0.3125rem 0.9375rem 0.125rem #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 3.125rem;
}

.form-card-large {
  width: 620px;
  height: 680px;
}

.form-card-small {
  width: 420px;
  height: 130px;
}

.card-form-title {
  color: #f2f2f2;
  margin: 1.875rem 0 3.125rem 0;
}

.card-form-input {
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 0 0.9375rem;
  background: #f2f2f2;
  outline: none;
  border: 0.125rem solid #f2f2f2;
  width: 20rem;
  margin: 0.9375rem;
}

.card-form-input:focus  {
  border: 0.125rem solid #C2B9B0;
}

.card-form-button {
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 0 0.9375rem;
  width: 9.375rem;
  background-color: #f2f2f2;
  border: none;
  color: #333;
}

.card-form-button-margin {
  margin-top: 2.5rem;
}

.card-form-button:hover {
  background-color: #C2B9B0;
    color: #333;
    cursor: pointer;
}

.text-form{
  color: #f2f2f2;
}