.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #242424;
}

.text-home {
  margin-bottom: 0.625rem;
  color: white;
}
.home-h1 {
  font-size: 3rem;
}

.home-h2 {
  font-size: 2rem;
}

.home-p {
  font-size: 1.2rem;
}