.table-container {
  height: 100vh;
}
.table-class {
  width: 100%;
  border-collapse: collapse;
}

.table-data,
.table-head{
  padding: 0.75rem 0.9375rem;
  border: 0.0625rem solid #ddd;
  text-align: center;
  font-size: 1rem;
}

.table-head{
  background-color: #333;
  color: #f2f2f2;
}

.table-body .table-row:nth-child(even) {
  background-color: #C2B9B0;
}

#link-users{
  display: flex;
  justify-content: center;
}

#link-users.link-users-p{
  margin: 0.3125rem;
  padding: 0.3125rem;
}

@media (max-width: 500px) {
  .table-thead{
    display: none;
  }

  .table-class,
  .table-body,
  .table-row,
  .table-data{
    display: block;
    width: 100%;
  }
  .table-row{
    margin-bottom: 0.9375rem;
  }
  .table-data{
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table-data::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 0.9375rem;
    font-size: 0.9375rem;
    font-weight: bold;
    text-align: left;
  }
}