<!DOCTYPE html>
<html>
  <head>
    <title>Chqto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="turbo-visit-control" content="reload">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <% case type when "warning", "alert" %>
        <div class="warning"  data-controller="flash">
          <%= msg %>
        </div>
      <% when "success", "notice" %>
        <div class="success" data-controller="flash">
          <%= msg %>
        </div>
      <% when "notice" %>
        <div class="notice" data-controller="flash">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
